@charset "UTF-8";

body {
	margin: 0;
}

input {
	cursor: pointer;
}

h2 {
	font-weight:bolder;
	margin-top: 100px;
}

ul {
	list-style: none;
	padding: 0;
}

.common-table-top {
    margin-bottom: 15px;
    padding: 18px 30px 15px;
    background: #f2f2f2;
    border-top: 2px solid #333;
}

.common-subTable-1 .qna_table tr td {
    padding: 11px 20px;
    border-bottom: 1px solid #e3e4e5;
    font-size: 16px;
    font-weight: 400;
}

.common-info-line .info-txt {
    text-align: left;
}

.common-check-wrap {
	text-align: right;
}

.common-check-box {
	display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.common-unlist-type.dash>li:before {
    content: '-';
}

.common-check-wrap>label {
    position: relative;
    display: inline-block;
    line-height: 18px;
    min-height: 20px;
    padding-left: 33px;
    background: url(/mvcABH/resources/images/btn_check_off.png) no-repeat 0 0;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    vertical-align: top;
    -ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.common-check-wrap>label.on {
    background-image: url(/mvcABH/resources/images/btn_check_on.png);
    color: #333;
}

.common-check-wrap>input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    vertical-align: top;
}

.qna_form_div {
	box-sizing: border-box;
	text-align: -webkit-center;
}

.qna_form_div h3 {
	display: block;
	text-align: left;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 30px;
	color: #333;
}

.qna_form_div form {
	width: 800px;
}

.qna_table {
	border-top: 1px solid #333;
	border-spacing: 0;
}

.qna_table tr {
	border-bottom: 1px solid #d7d7d7;
}

.qna_table th, .qna_table td {
	border-bottom: 1px solid #d7d7d7;
	color: #333;
	font-size: 14px;
	letter-spacing: -0.25px;
	text-align: left;
}

.qna_table td {
	padding: 11px 20px;
	width: 630px;
}

/* μΈν’‹*/
.qna_table td input, .qna_table td div input {
	border: 1px solid #d7d7d7;
	padding: 10px 5px 8px;
}

.qna_table td select, .qna_table td div select {
	border: 1px solid #d7d7d7;
	width: 110px;
	padding: 10px 5px 8px;
}

.qna_table th {
	background-color: #f3f3f3;
	padding: 23px 29px 21px;
	font-weight: 600;
	vertical-align: top;
	width: 170px;
	color: #333;
	font-size: 14px;
	letter-spacing: -0.25px;
	text-align: left;
}

.qna_table td div a {
	min-width: 83px;
	border: 1px solid #222;
	padding: 0px 5px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}

.qna_table td div a span {
	font-size: 14px;
	color: #222222;
}

.qna_table td .complete_cancel input {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	min-width: 180px;
	margin: 0 3px;
	padding: 0px 0px;
}

.qna_table td .complete_cancel #qna_submit {
	font-size: 18px;
	background-color: black;
	color: white;
	font-weight: 900;
}

.qna_table td .complete_cancel #qna_reset {
	font-size: 18px;
	background-color: white;
	color: black;
	font-weight: 900;
}

#question {
	width: 550px;
	height: 150px;
	border: 1px solid lightgray;
}

#answer {
	width: 550px;
	height: 150px;
	border: 1px solid lightgray;
}

#subject {
	width: 550px;
}

#category {
	width: 130px;
}


