@charset "UTF-8";

.tx_main {
	padding-top: 45px;
    color: #333;
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 600;
    text-align: center;
}

.confirmId_div {
	box-sizing: border-box;
	text-align: -webkit-center;
}

.confirmId_div form {
	width: 300px;
}

.confirmId_table {
	border-top: 1px solid #333;
	border-spacing: 0;
}

.confirmId_table tr {
	border-bottom: 1px solid #d7d7d7;
}

.confirmId_table th, .confirmId_table td {
	border-bottom: 1px solid #d7d7d7;
	color: #333;
    font-size: 14px;
    letter-spacing: -0.25px;
    text-align: left;
}

.confirmId_table td {
	padding: 11px 20px;
	text-align: center;
}

/* μΈν’‹*/
.confirmId_table td input, .register_table td div input {
	border: 1px solid #d7d7d7;
    padding: 10px 5px 8px;
}

.confirmId_table th {
	background-color: #f3f3f3;
    padding: 23px 10px 21px;
    font-weight: 600;
    vertical-align: top;
    width: 300px;
    color: #333;
    font-size: 14px;
    letter-spacing: -0.25px;
    text-align: left;
}

#confirmOk {
	color: blue;
}

#confirmNo {
	color: red;
}

#inputButton {
	padding-top: 5px;
	padding-bottom: 5px;
    margin: 0 3px;
}

