<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.spring.bank.user.dao.LoanDAO">
<!-- 신규 대출 상품 조회 -->
    <select id="loanList" resultType="com.spring.bank.user.vo.LoanProductVO">
    	SELECT * FROM loan_product
    </select>
</mapper>